/* сброс стилей */
* {
	text-decoration: none;
	font-size: 1em;
	outline: none;
	padding: 0;
	margin: 0;
	}

ul, ol, dir, menu { 
	list-style: none; 
	}

	
/* конец */	
	
body {font-family:verdana, sans-serif;font-size: 13px;width:100%;    background: #f8f8f8;}
.main {
    background: white;
    margin: 20px;
    box-shadow: 0px 0px 5px 0px #bdbdbd;
    border-radius: 3px;
	border: 1px solid #eaeaea;
}

.title {background: #f8f8f8;}
.title h1{
	padding: 0px 0px 0px 10px;
    font-size: 20px;
    font-weight: normal;
    display:inline-block;
    color: #6f6f6f;
	height:45px;line-height:45px;
}

i.cstrike {
	display: inline-block;
    background: url(../img/cstrike2.png) no-repeat;
    width: 32px;
    height: 32px;
    vertical-align: sub;
    margin: 0px 0 0 10px;
	float:left;
	margin-top:5px;
}


.header {}
.menu ul {
    list-style: none;
    background: #f3f3f3;
    margin: 0;
    padding: 0;
	margin-bottom:10px;
	width: 100%;
    height: 35px;
}
.menu li {
	float: left;
    padding: 5px 0px;
}
.menu li a {
    display: block;
    color: #7b7b7b;
    text-decoration: none;
    padding: 5px 12px;
    border-right: 1px solid #e8e8e8;
}
.menu li a:hover {color:#000;}

.content {
	padding: 0px 20px 10px 20px;
    color: #4a4a4a;
	line-height: 22px;
}

.content a {
text-decoration: none;
}

.content a:hover {
text-decoration: underline;
}

.content a:visited {
    color: #0000f1;
}

.content ul {
	list-style: disc;
    padding: 0 0 0 25px;
    line-height: 20px;
}
.content ul li {}
hr {
	border: 0;
    border-top: 1px solid #fff;
	color:#ececec;
   margin: 8px -20px 5px -20px;
}

.content hr {
	border: 0;
    border-top: 1px solid #ececec;
   margin: 8px -20px 5px -20px;
}

.content b {color: #738f9c;}

.content h2 {
font-size: 16px;
    color: #738f9c;
	margin-bottom:7px;
	}

.content span {
	background: #e2e2e2;
    padding: 0px 5px;
    border-radius: 2px;
}
.content span.red {
background: #ff9999;
    color: #9a1919;
}
.content span.blue {
background: #d6e5ff;
    color: #19769a;
}
.content span.green {
    background: #58ff61;
    color: #199a41;
}
.content span.orange {
background: #ff9c45;
    color: #776742;
}

.content span.yellow {
	background: #feff9e;
    color: #848627;
}

.content p {padding: 0 10px; margin: 0;}




.alert {
	background: #f9f9f9;
    border: 1px solid #f1f1f1;
    margin: 7px 0;
    padding: 10px 15px;
    border-radius: 3px;
}
.red {
	background: #ffd6d6;
    color: #b34f4f;
}
.blue {
	background: #d6e5ff;
    color: #4f77b3;
}
.green {
    background: #d6ffe4;
    color: #55b34f;
}
.orange {
	background: #ffd1aa;
    color: #96833f;
}

img.icon16 {
	display: inline-block;
    vertical-align: text-bottom;
}